.header
{
    width: 100%;
    background-color: rgb(19,28,39);
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    
}
html, body
{
margin: 0;
padding: 0;
height: 100%;
width: 100%;

}
p
{
 margin: 0px;
}
.button
{
  border: none;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.button2
{
  margin: auto;
  border: none;
  padding: 0 0 42%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  
}
.main
{
  margin:auto;
  padding: 12px 52px;
  /* background-image: url("jaws.jpg"); */

}
